{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="conatiner mx-2 pb-5">
    <div class="row mx-auto">
        <div class="col-md-2">

        </div>
        <div class="col-md-7 bg-white pb-5 pt-2">
           
                {%  if post %}
     
                    <div class="container">
                        {% if post.photo %} <code style="float: right;" class="pt-2" >{{ post.post_date }}</code>  {% endif %}
                        <p><a href="{% url 'profile' %}">
                            {% if post.user.profile_photo.profile_photo %}
                                <img src="{{post.user.profile_photo.profile_photo.url}}" class="rounded-circle" id="user_img2">
                            {% else %}
                                <img src="{% static 'img/profile.jpg' %}" class="rounded-circle" id="user_img2">
                            
                            {% endif %}
                            <b>{{post.user.username}}</b> 
                            </a> 
                            
                            </p>

                            <center>
                                <img class="card-img mx-auto " style=" max-width:600px; max-height: 300px;" src="{{post.photo.url}}">
                            </center>
                            <div class="card-body">
                                <span style="font-size: 2em; ">
                                    <i class="far fa-thumbs-up mr-2"></i>
                                </span>
                                <button type="button" class="btn bg-white pt-0 ml-5 pb-3" style="font-size:25px;" data-toggle="modal" data-target="#myModal">
									Delete Post
                                  
                                </button>

                            <p style="float: right; font-family: cursive;" class="pt-2 text-dark"> comments {{comment.count}}</p>

                            <div class="card border-0">
                                <blockquote class="blockquote mb-0">
                                    
                                    {% for comment in comment %}
                                    <header class="blockquote-footer">
                                        <cite title="Source Title">
                                                {% if comment.user.profile_photo.profile_photo %}
                                                    <img src="{{comment.user.profile_photo.profile_photo.url}}" class="rounded-circle" id="user_img">
                                                {% else %}
                                                    <img src="{% static 'img/profile.jpg' %}" class="rounded-circle" id="user_img">
                                                
                                                {% endif %}
                                                <a  class="card-link"  href="{% url 'profile_with_pk' pk=comment.user.pk %}">
                                                    <b>{{comment.user.username}}</b>
                                                </a>
                                                <code>{{ comment.com_date }}</code> 
                                        </cite>
                                    </header>
                                    <p class="ml-5">{{comment.comment  }}  </p>
                                        <div class="card-body pt-1 bg-light ">
                                            {% if comment.replies.all %}
                                                <h6>Replies <code>{{ comment.replies.all.count }}</code><h6>
                                                    {% for reply in comment.replies.all %}
                                                        {% if reply in comment.replies.all %}
                                                            
                                                            <div class="card-body border-0 pt-0">
                                                                <div class="container  pt-0">

                                                                    <header class="blockquote-footer"><cite title="Source Title">
                                                                        {% if reply.user.profile_photo.profile_photo %}
                                                                                <img src="{{reply.user.profile_photo.profile_photo.url}}" class="rounded-circle" id="user_img">
                                                                            {% else %}
                                                                                <img src="{% static 'img/profile.jpg' %}" class="rounded-circle" id="user_img">
                                                                            
                                                                            {% endif %}
                                                                        <a  class="card-link"  href="{% url 'profile_with_pk' pk=comment.user.pk %}">
                                                                    <b> {{reply.user}} </b></a><code>{{ reply.com_date }}</code> </cite></header>
                                                                    <p class="ml-2">{{reply.comment  }}  </p>
                                                                
                                                                </div>
                                                            
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                            {% endif %}
                                            <!--Submit Replies-->
                                            <div id="reply" class=" replied-comments container border-0 bg-white" >                                   
                                                <form method="POST" action="{% url 'reply' pk=post.pk %}">
                                                    {%csrf_token%}
                                                    <div class="form-group row">
                                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                        <input name="comment" class="form-control border" type="text" placeholder="make reply" required >
                                                        <button class="btn btn-outline-info  bg-white form-control" type="submit">reply</button>
                                                    </div>   
                                                </form>
                                        </div>
                                        
                                        </div>  
                                    {% endfor %}
                                </blockquote>
                                </div>
                            </div>
	<!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
              <div class="modal-content">

        <!-- Modal Header -->
            <div class="modal-header">
                  <h4 class="modal-title">Delete Post</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        <!-- Modal body -->
            <div class="modal-body">
                <form  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}  <!-- security -->
                        <button type="submit" class="btn btn-danger">submit</button>                
        
                    </div>
                </form>
            </div>
          </div>
    </div>
  </div>
                        <div class="container"> 
                        
                            <form method="POST" >
                            {%csrf_token%}
                                <div class="form-group">
                                    
                                    <input name="comment" class="form-control" type="text" placeholder="make comment" required >
                                    <button class="btn btn-outline-info bg-white form-control" type="submit">comment</button>
                                </div>   
                                </form>
                        </div>
                    </div>

                {% endif %}
           
        </div>
    </div>
</div>
{% endblock %}