{% extends 'base.html' %}
{%load static%}

{% block title %}|Edit Profile{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<section>
	<div class="continer bg-light px-2">
		<div class="row mx-3 pb-2 pt-2">
			<div class="col-md-3 ">

<!-- Profile-->
				<div class="card"  style="box-shadow: 4px 4px 20px #898694;" >
					<h6 class="card-title  mx-2 text-center" >Profile</h6>
						<div class="card-body bg-white">
							<a href="{% url 'profile' %}" class="card-link" >
								<center>
									<div  class="rounded-circle">
										{% if photo.profile_photo %}
								<img src="{{photo.profile_photo.url}}" class="rounded-circle">
							{% else %}
								<img src="{% static 'img/profile.jpg' %}" class="rounded-circle" >
							{% endif %}
									</div>
								</center>
								<p class="text-center"><b>{{user.username}}</b></p>
						</a>
<!--Upload Image-->
							<div class="card-body">
						<!-- Button to Open the Modal -->
								<center>
								<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
									Upload Image
								  </button>
								</center>
  
  									<!-- The Modal -->
  								<div class="modal" id="myModal">
									<div class="modal-dialog">
	  									<div class="modal-content">
  
									<!-- Modal Header -->
										<div class="modal-header">
		  									<h4 class="modal-title">Upload Image</h4>
		  									<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
  
									<!-- Modal body -->
										<div class="modal-body">
											<form method="POST" action="upload_image " enctype="multipart/form-data">
												{% csrf_token %}  <!-- security -->
												
												<div class="container">
													<input type="file"name="profile_photo" class="form-control-file ">
													<br>
													<button type="submit" class="btn btn-danger">upload</button>

												</div>
											</form>
										</div>
	  								</div>
								</div>
  							</div>
							</div>
						</div>
				</div>
			</div>
			<div class="col-md-7 pb-4">
				<div class="card  border-0"  style="box-shadow: 4px 4px 20px #898694;" >
					<div class="card-body ">
						<form method="POST"  action="user_edit_profile ">
							{% csrf_token %}  <!-- security -->
							<div class="card border-0">
							<div class="form-group form-text  mr-2 ml-2 " >
								<label for='first_name'><b>First name</b></label>
								<input type="text" name="first_name" class="form-control" placeholder="First name" value="{{user.first_name}}">
							</div>

							<div class="form-group form-text  mr-2 ml-2 ">
								<label for='last_name'><b>Last name</b></label>
								<input type="text" name="last_name" class="form-control" placeholder="Last name" value="{{user.last_name}}" >
							</div>

							<div class="form-group form-text  mr-2 ml-2 ">

								<label for='email'><b>Email</b></label>
								<input type="email" name="email" class="form-control" value="{{user.email}}">
							</div>
						
							<div class="form-group form-text  mr-2 ml-2 ">

								<label for='phone'><b>Phone</b></label>
								<p>
									<select > 
									<option selected="">+91</option>	
									<option value="1">+971</option>
									<option value="2">+108</option>
									<option value="3">+701</option>
									<option value="4">+198</option>
								</select>
								<input type="text" class="form-control" name="phone"  placeholder="Enter phone" value="{{user.user_profile.phone}}"></p>
								</div>
								
								<div class="form-group form-text  mr-2 ml-2 ">
									<label for='bio'>Bio</label>
									<textarea  name="bio" rows="6" class="form-control" placeholder="Enter About your Self" >{{ user.user_profile.bio }}</textarea> 
								</div>
								<br>
								<div class="text-center pb-2"><button type="submit" class="btn btn-success btn-lg">Save</button></div>
									

								</div>
							</div>
						</div>

		</form>
						
					</div>
				</div>
			</div>



</div>
	
</div>
</section>
{%endif%}



{% endblock %}