{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="conatiner"style="margin:5px 20px 5px 5px; ">
	<div class="row text-center pt-md-4 pb-md-2 ml-4 mr-4">
		
<!-- Thought of the day section-->
		<div class="col-md-3 ml-5">
			<div class="card" style="height: 500px;">
				<h4>Thought of the day</h4>
				<hr class="mr-2 ml-2">
			</div>
		</div>

<!-- Weekly Best poem section -->
		<div class="col-md-3 ml-5">
			<div class="card" style="height: 500px;">
				<h4>Poem of the week</h4>
				<hr class="mr-2 ml-2">
			</div>
				
		</div>

<!-- Section for LOgin and Singnup -->
		<div class="col-md-4 ml-5">
			<div class="card" >
				<h4 style=" font-family:  Segoe UI;"> WLECOME WRITERS </h4>
					<hr class="mr-2 ml-2">
					<p style="font-family: Segoe UI; font-size: 15px;"><b> Are you a Writers or poet or a good thinker, so Friend this place is for u to express your self.</b></p>

<!-- Login form -->
			
			<form class="mr-2 ml-2 pb-2 ">
				<div class="form-group form-text text-left">
				
					<label for="exampleInputEmailid1"> Email </label>
					<input type="email" class="form-control" id="exampleInputEmailid1" area-describedby="emailhelp" placeholder="Enter Email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
					</small>
				</div>
				<div class="form-group text-left">
   					 <label for="exampleInputPassword1">Password</label>
   					 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  					</div>
				<a href="{% url 'about' %}" style="padding-bottom: 10px; ">
				<button  type="button" class=" btn btn-success btn-lg">Login</button>
				</a>
				<b class="mr-2 ml-2"> OR </b>

<!-- Sighnup -->

				<a href="{% url 'signup' %}">
				<button type="button" class="btn btn-success btn-lg">SignUp</button>
				</a>
				</form>
				
			</div>	

		</div>
	</div>

</div>






{% endblock %}